.hamburger{
    width: 32px;//不能用% 線條因為padding會被壓得很小
    cursor: pointer;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    span{
        background-color: $light-gray;
        display: block;
        width: 32px;
        height: 4px;
        border-radius: 2px;
        margin: 4px 0;
        transition: all .3s;
    }
    &.active{
        span:nth-child(1){
            transform: rotate(-45deg) translate(-9px, 7px);;
        }
        span:nth-child(2){
            opacity: 0;
        }
        span:nth-child(3){
            transform: rotate(45deg) translate(-9px, -8px)
        }
    }
}