// Main 顏色 
$light-green: #F2F7F4;
$dark-green:#015C55;
$red:#E74C3C;


// Sub 顏色 
$green: #9BB76E;
$light-yellow:#FFFFDA;
$white: #ffffff;
$black: #000000;
$heavy-gray: #777672;
$normal-gray: #B9B9B9;
$light-gray:#E8E8E8;
$lighter-gray: #FBFBFB;


// // Main 顏色 
// $red:#E74C3C;
// $dark:#015C55;
// $lighter:#F2F7F4;

// // Sub 顏色 
// $light-yellow:#FFFFDA;
// $green:#9BB76E;
// $white: #FFFFFF;
// $black: #000000;
// $heavy-gray: #777672;
// $normal-gray: #B9B9B9;
// $light-gray:#E8E8E8;
// $lighter-gray: #FBFBFB;
