// // 字型
// $font-chinese: 'GenSenRounded2 TW';
// $font-english: 'Noto Sans TC';
// $font-englishF: 'Fredoka';

// // 字大小 10px 為底
// $h1 : 8rem;
// $h2 : 6.4rem; 
// $h3 : 4.8rem;
// $h4 : 3.6rem;
// $h5 : 2.4rem;
// $h6 : 2rem;
// $h7 : 1.8rem;
// $h8 : 1.6rem;
// $h9 : 1.4rem;

$font-cn: 'GenSenRounded2 TW R';
$font-en: 'Noto Sans TC';
$font-enF: 'Fredoka';

// 字體
$h1 : 6.4rem; //數字(只有一個地方會用到)
$h2 : 4.8rem; //標題
$h3 : 3.6rem; //標題
$h4 : 2.4rem;
$h5 : 2rem;
$WB-text : 1.6rem;
$note: 1.4rem; //電腦備註文字
$note-m : 1.2rem; //手機備註文字